$main-color: #fff;
$alt-color: rgba(
  $color: #12dfff,
  $alpha: 0.3,
);
* {
  margin: 0;
}
body {
  background-color: rgba($color: $alt-color, $alpha: 1);
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.slider {
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  #leftArrow,
  #rightArrow,
  #close {
    position: absolute;
    z-index: 800;
    transform: translateY(-50%);
    top: 50%;
    left: 40px;
    box-sizing: content-box;
    border-radius: 24%;
    padding: 10px;
    cursor: pointer;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    i {
      width: 100%;
    }
    background-color: rgba($color: $main-color, $alpha: 0.5);
    &:hover {
      background-color: rgba($color: $main-color, $alpha: 0.7);
      border: 1px solid $main-color;
    }
  }
  #rightArrow {
    right: 40px;
    left: initial;
  }
  #close {
    top: 60px;
    right: 25px;
    left: initial;
  }
  .container {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    position: relative;
    div {
      width: 100%;
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
  }
}
.container.all {
  display: none;
  gap: 14px;
  margin: 60px auto;
  // padding: 15px;
  width: 1170px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  div {
    // width: 300px;
    img {
      object-fit: cover;
      border: 4px solid $main-color;
      box-sizing: border-box;
      // padding: 15px;
      width: 100%;
      max-height: 160px;
      height: auto;
      cursor: pointer;
      transition: transform 100ms;
      &:hover {
        transform: scale(1.02);
        border: 5px solid $alt-color;
      }
    }
  }
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #fff transparent transparent transparent;
      &:nth-child(1) {
        animation-delay: -0.45s;
      }
      &:nth-child(2) {
        animation-delay: -0.3s;
      }
      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
